<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gêneros</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="blue-grey lighten-5">

<div th:replace="fragments/header :: mainHeader"></div>

<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col s6 left-align">
            <a href="/home" class="btn grey darken-2">
                <i class="material-icons left">arrow_back</i>Home
            </a>
        </div>
        <div class="col s6 right-align">
            <a href="/genres/new" class="btn green"
            th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <i class="material-icons left">add</i>Novo Gênero
            </a>
        </div>
    </div>

    <h4 class="center-align">Gêneros Cadastrados</h4>

    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="genre : ${genres}">
                <td th:text="${genre.name}">Nome</td>
                <td th:text="${genre.description}">Descrição</td>
                <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a th:href="@{/genres/{id}/edit(id=${genre.id})}" class="btn-small orange"
                    th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <i class="material-icons">edit</i>
                    </a>
                    <form th:action="@{/genres/{id}/delete(id=${genre.id})}" method="post" style="display:inline;"
                        th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <button type="submit" class="btn-small red" onclick="return confirm('Deseja deletar este gênero?')">
                            <i class="material-icons">delete</i>
                        </button>
                    </form>
                </td>
                <td th:unless="${#authorization.expression('hasRole(''ADMIN'')')}"></td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script th:if="${deleteError}" th:inline="javascript">
    M.toast({
        html: [[${deleteError}]],
        classes: 'red darken-2',
        displayLength: 4000
    });
</script>

</body>
</html>